@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import "tailwindcss";


*{
    
    overflow-x: hidden;
    overflow-y: scroll; 
    scrollbar-width: none; 
}



.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  
  